@(user: models.user.SystemUser, matchmaking: Seq[String])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)@views.html.admin.layout.page(user, "activity", "Matchmaking Records") {
  <ul class="collection with-header">
    <li class="collection-header">
      <h5><i class="fa @models.template.Icons.game"></i> @util.NumberUtils.withCommas(matchmaking.size) Matchmaking Records</h5>
    </li>
    <li class="collection-item">
      @if(matchmaking.isEmpty) {
        <em>
          No active matchmaking records. Why not <a href="@controllers.routes.GameplayController.gameplay("multiplayer/host")" target="_blank" class="theme-text">start one</a>?
        </em>
      } else {
        <table class="bordered">
          <tbody>
            <tr>
              <th>ID</th>
            </tr>
            @matchmaking.map { status =>
              <tr>
                <td>@status</td>
              </tr>
            }
          </tbody>
        </table>
      }
    </li>
  </ul>
}
