@()
<style type="text/css">
  .tabs .tab a {
    color: @models.template.Theme.backgroundColor;
  }
  .tabs .tab a:hover {
    color: @models.template.Theme.backgroundColor;
  }
  .tabs .tab.disabled a {
    color: @models.template.Theme.backgroundColor;
  }
  .tabs .indicator {
    background-color: @models.template.Theme.backgroundColor;
  }

  ul#main-menu li.search .search-wrapper input#search:focus { border-bottom: 2px solid @models.template.Theme.backgroundColor !important; }

  [type="radio"]:checked+label:after, [type="radio"]:checked + span::after {
    border-color: @models.template.Theme.backgroundColor;
    background-color: @models.template.Theme.backgroundColor;
  }

  .input-field label {
    color: #000;
  }
  .input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label {
    color: @models.template.Theme.backgroundColor;
  }
  .input-field input[type=text]:focus, .input-field input[type=password]:focus, .input-field input[type=email]:focus {
    border-bottom: 1px solid @models.template.Theme.backgroundColor;
    box-shadow: 0 1px 0 0 @models.template.Theme.backgroundColor;
  }
  .input-field .prefix.active {
    color: @models.template.Theme.backgroundColor;
  }

  .dropdown-content.select-dropdown span {
    color: @models.template.Theme.backgroundColor !important;
  }

  .theme {
    background-color: @models.template.Theme.backgroundColor !important;
  }
  .theme-text {
    color: @models.template.Theme.backgroundColor !important;
  }
  .theme-text.active {
    color: #ffffff !important;
  }
  a.theme-text:hover {
    color: #999 !important;
  }

  .collection .collection-item.active {
    background-color: @models.template.Theme.backgroundColor;
  }

  [type="checkbox"]:checked + label:before {
    border-right: 2px solid @models.template.Theme.backgroundColor;
    border-bottom: 2px solid @models.template.Theme.backgroundColor;
  }

  .dropdown-content li > a, .dropdown-content li > span {
    color: @models.template.Theme.backgroundColor;
  }

  .tree li .node:hover+ul li::after,
  .tree li .node:hover+ul li::before,
  .tree li .node:hover+ul::before,
  .tree li .node:hover+ul ul::before{
    border-color: @models.template.Theme.backgroundColor;
  }

  .picker__date-display {
    background-color: @models.template.Theme.backgroundColor;
  }

  .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: @models.template.Theme.backgroundColor;
  }

  .picker__today, .picker__close {
    color: @models.template.Theme.backgroundColor;
  }

  .picker__day.picker__day--today {
    color: @models.template.Theme.backgroundColor;
  }
</style>
