@(user: Option[models.user.SystemUser], devmode: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)
@option(path: String, title: String) = {
  <div class="col s12 m6 l4">
    <a class="theme-text item" href="@controllers.routes.GameplayController.gameplay(path)">@title</a>
  </div>
}

@traceData.logViewClass(getClass)@layout.simple(user, util.Config.projectName) {
  <style type="text/css">
    .item {
      text-align: center;
      border: 1px solid #ddd;
      margin: 6px;
      padding: 6px;
      border-radius: 4px;
      display: block;
    }
  </style>
  <div class="row">
    <div class="col s12">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4>Welcome to @util.Config.projectName</h4>
          @if(user.exists(_.role == models.user.Role.Admin)) {
            <h5>You're an administrator, so head on over to the <a class="theme-text" href="@controllers.admin.system.routes.AdminController.index()">admin section</a>.</h5>
          }
        </li>
        <li class="collection-item">
          <a style="font-size: 200%; padding: 18px;" class="theme-text item" href="@controllers.routes.GameplayController.root()">Play Now</a>
        </li>
        <li class="collection-item">
          <h5>Tests</h5>
          <div class="row">
            @Seq(
              "intro" -> "Intro", "portal" -> "Portal", "menu" -> "Menu", "options" -> "Options",
              "overworld" -> "Overworld", "test" -> "Tests", "sandbox" -> "Sandbox"
            ).map { x => @option(x._1, x._2) }
          </div>
        </li>
        <li class="collection-item">
          <h5>Maps</h5>
          <div class="row">@models.data.map.TiledMap.values.sortBy(_.title).map { m => @option(s"map/${m.value}", m.title) }</div>
        </li>
      </ul>
    </div>
  </div>
}
